:root{
  --background-color:rosybrown;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: seashell;
}

/*Main section*/
/*About me*/
#about {
  display: flex;
  padding: 20px 0;
  min-height: 50vh;
  align-items: center;
}

#about h2 {
  text-align: center;
  margin-bottom: 20px;
}

#about .contents {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;
}

#about .contents img {
  width: 300px;
  padding: 5px;
  margin: 0 auto;
  border-radius: 25%;
  background-color:var(--background-color);
}

@media (min-width: 800px) {

  #about {
    padding: 50px 0;
  }

  #about h2 {
    margin-bottom: 50px;
  }

  #about .contents {
    grid-template-columns: 1fr 4fr;
  }

  #about .contents img {
    width: 100%;
  }
}

.about_me_text{
  font-size:2rem;
}

.about_me_heading{
  font-size: 2rem;
  text-align: center;
}
.contact{
  background: grey;
}
 .name{
   font-size:2rem;
   
 }

/* Layout: */

.col-main {
  flex: 1;  
}  

.col-complementary {
  flex: 1;  
}

/* Responsive: */

@media only screen and (min-width: 640px) {
  .layout {
    display: flex;
  }
}

/* etc */

body {
  margin: 1.5em;
}

.container {
  max-width: 60em;
  margin-right: auto;
  margin-left: auto;
}

.col {
  padding: 1em;
  margin: 0 2px 2px 0;
 
}


/*nav bar*/

.topNav{
  max-width: 100%;
  width:100%;
  margin: 0 auto;
}

nav{
  background-color: var(--background-color);
}

nav ul{
  list-style-type: none;
  padding:0px;
}

nav a {

text-decoration: none;
text-align:center;
color:#ffffff;
display: block;
padding:30px;
/*background-color: #777;*/
}



@media screen and (min-width :768px){
nav ul{
  display: flex;
  justify-content:flex-start;
}

nav li {
  flex: 1 1 0;

}
}

/*Responsive*/

@media (max-width: 900px) {
  .services{
    display: flex;
    flex-direction: column;
  }
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
}


/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }


}

/*Social media section*/

.socials .flex {
  flex-wrap: wrap;
}
.socials .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}
.socials .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.socials .card:hover {
  transform: translateY(-15px);
}
.container {
  max-width: 21500px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;


}
.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  max-width: 2000px;
  height:300px;
  width:300px;
 background:mistyrose
  
}

.card:hover{
  background-color: var(--background-color);
}
.card img {
  width: 200px;
  height: 200px;
  background-color: white;
  padding: 10px;
}

.social{
  background-color:linen;
}


.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}
*/

.text-center {
  text-align: center;
}


.heading{
  text-align: right;

}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1rem 0;
  text-align: left;
  font-size: 2rem;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/*portfolio*/
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;

  
}
.content1 {
  background-color:white;
  padding: 30px;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.heading{
  text-align: center;
  margin-top:40px;
  font-size: 2rem;

}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  
  }
  
}

/* portfolio*/
.social2{
  background-color:pink ;
}


/*contact*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: black;
}

.container1{
  border-radius: 5px;
  background-color:lightgray; 
  padding: 10px;
  
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}