:root {
  /*Creating variables*/

  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: seashell;
}

/*Main section*/

.hero{
    height: 800px; /*Setting the height of yhr element*/
    width: 100%; /*Setting the width size*/
    margin-bottom: 25px; /*sets the margin area on the bottom side of an element.*/
    background-image: url("/Assets/Untitled_2_50.png"); /*Setting the image background*/
    background-size: cover; /*specifies the size of the background images to covering the element */ 
    background-position: center; /*postioning of the image*/
}
      /* Bottom right text */
      .text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size:2em;
      }
/*nav bar*/

.topNav{
  max-width: 100%;
  width:100%;
  margin: 0 auto;
}

nav{
  background-color: rosybrown;
}

nav ul{
  list-style-type: none;
  padding:0px;
}

nav a {

text-decoration: none;
text-align:center;
color:#ffffff;
display: block;
padding:30px;
/*background-color: #777;*/
}

nav a:hover {
/*background-color: #555;*/

}

@media screen and (min-width :768px){
nav ul{
  display: flex;
  justify-content:flex-start;
}

nav li {
  flex: 1 1 0;

}
}

/*Responsive*/

@media (max-width: 900px) {
  .services{
    display: flex;
    flex-direction: column;
  }
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
}


/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }


}

/*Social media section*/

.socials .flex {
  flex-wrap: wrap;
}
.socials .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}
.socials .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.socials .card:hover {
  transform: translateY(-15px);
}
.container {
  max-width: 21500px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;

}
.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  max-width: 2000px;
  height:300px;
  width:500px;
 background:mistyrose
  
}

.card:hover{
  background-color: rosybrown;
}
.card img {
  width: 200px;
  height: 200px;
  background-color: white;
  padding: 10px;
}




.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}
*/

.text-center {
  text-align: center;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1rem 0;
  text-align: left;
  font-size: 2rem;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/*contact form*/




/*Work section*/
.heading{
  text-align: center;
  font-size: 1.5rem;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
 
}

/* Content */
.content {
  background-color: white;
  padding: 10px;

}
.contact{
  text-align: center;
}

.heading1{
  text-align: center;
  margin-top:40px;
  font-size: 2rem;

}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.Portfolio{
text-align:center ;
}