:root {
  /*Creating variables*/
  --background-color: #a383b0;
  --color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: seashell;
}
/*HEADER*/
.h1 {
  font-family: cursive;
  font-size: 2.5rem;
  color: purple;
  margin: 0;
}

.titles,
nav a {
  font-size: 1.3rem;
  color: #f9f8eb;
  text-transform: uppercase;
  text-align: left;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header {
  background-color: #a383b0;
  padding: 0.8em 0;
  height: 7vw;
  box-shadow: 2px 2px 10px #f1f6f9;
}

header nav ul {
  list-style-type: none; /* Allows the nav to not show as a list*/
  height: 50px;
}

header nav ul li {
  display: inline-block; /*Used to display an element as an inline-level block container*/
  margin-left: 25px; /*sets the margin area on the left side of an element.*/
  text-align: left;
  margin-top: 2vw;
  margin-right: 2vw;
  margin-left: 1vw;
}

nav li {
  margin-left: 2em;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  list-style-type: none;
}

nav a:hover,
nav a:focus {
  color: purple;
}


/*Main section*/

.hero{
    height: 800px; /*Setting the height of yhr element*/
    width: 100%; /*Setting the width size*/
    margin-bottom: 25px; /*sets the margin area on the bottom side of an element.*/
    background-image: url("/Assets/Untitled_2_50.png"); /*Setting the image background*/
    background-size: cover; /*specifies the size of the background images to covering the element */ 
    background-position: center; /*postioning of the image*/
}
      /* Bottom right text */
      .text-block {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size:2em;
      }

/* Cards*/
/*Formatting the card*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
.cards{
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
.cards h2.header{
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services{
  display: flex;
  align-items: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  transition: all .3s ease;
}
.content .fab{
  font-size: 70px;
  margin: 16px 0;
}

 .threading.fab{
  font-size: 70px;
  margin: 16px 0;
}
.content > *{
  flex: 1 1 100%;
}
.content:hover{
  color: white;
}
.content:hover a{
  border-color: white;
  background: white;
}
.content-1:hover{
  border-color: mediumpurple;
  background:#54076C;
}
.content-1:hover a{
  color:#54076C;
}
.content-2:hover{
  border-color: #54076C;
  background: #54076C;
}
.content-2:hover a{
  color: #54076C;
}
.content-3:hover{
  border-color: #54076C;
  background: #54076C;
}
.content-3:hover a{
  color:#54076C;
}
.content h2{
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p{
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}
.content a{
  margin: 10px 0;
  background: #685904;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 10px 0;
  border-radius: 20px;
  transition: .3s ease;

}
.content a:hover{
  border-radius: 4px;
}
@media (max-width: 900px) {
  .services{
    display: flex;
    flex-direction: column;
  }
}

.headings{
  font-size:3rem;
text-align: center;
}

.headings2{
  font-size:2rem;
text-align: center;
}



/*Responsive*/

@media (max-width: 900px) {
  .services{
    display: flex;
    flex-direction: column;
  }
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
}


/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }


}


/*Footer*/






